H1{
    text-align: center;
}
h3{
    text-align: center;
}
h2{
    text-align: center;
    color: rgb(51, 11, 73);
}
P{
    font-size: 25PX;
    font-family:'Times New Roman', Times, serif;
}
pre{
    font-size: 18px;
}